@tailwind base;
@tailwind components;
@tailwind utilities;
/*Montserrat 400 */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/*Montserrat 500 */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/*Montserrat 600 */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* Montserrat 700 */
@font-face {
  font-family: "Montserrat";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* MontserratAlternates 600 */
@font-face {
  font-family: "Montserrat Alternates";
  src: url("/fonts/MontserratAlternates-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
/*MontserratAlternates 700 */
@font-face {
  font-family: "Montserrat Alternates";
  src: url("/fonts/MontserratAlternates-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: "Montserrat", sans-serif;
}
